[submodule "axon_launch"]
	path = axon_launch
	url = https://github.com/superjax/axon_launch
[submodule "tinyIMU_arduino"]
	path = tinyIMU_arduino
	url = https://github.com/superjax/tinyIMU_arduino
[submodule "tinyIMU_relay"]
	path = tinyIMU_relay
	url = https://github.com/superjax/tinyIMU_relay
[submodule "tiny_msgs"]
	path = tiny_msgs
	url = https://github.com/superjax/tiny_msgs
